<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DBP Uncovered</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/action_reaction_style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/likert.css') }}">
</head>
<body>
    
    <main class="container">
        
        <h1>DBP Uncovered </h1>
            <p class="subtitle">Uncovering the hidden risks in your water.</p>
            
        <h2>Action Reaction</h2>
        <h3>What actions do you currently take at your home to prevent DBP consumption or production?</h3>
        <h3>Please answer the questions below to get personalized list of actions to reduce DBP</h3>
        <div class="quiz-container" id="container">
            <div id="quiz-card" class="card">
                <!-- Quiz content will be loaded here by JavaScript -->
                <div class="loader">Loading...</div>
            </div>
            
            <div class="progress-container">
                <div id="progress-text">Question 1 of 5</div>
                <div class="progress-bar">
                    <div id="progress-fill" style="width: 20%"></div>
                </div>
            </div>
        </div>

        <div class="quiz-container">
            <div class="card" id = "likert">
                
            </div>
          
        </div>

    </main>
    
    <script>
        // Store quiz data from Flask
        const quizData = {{ action_data|tojson }};
    </script>
    <script src="{{ url_for('static', filename='js/action_reaction.js') }}"></script>
</body>
</html>
